TOKEN="" # Your bot's token

# Mysql DB credentials
ROOT_PASSWORD=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_DATABASE=""

# JWT Secret for the API authentication and authorization
# Do not leave empty!
JWT_SECRET=""
JWT_ALGORITHM="HS256" # You probably do not need to edit this line

# API Port exposure
API_PORT=8080

# Guild id on which dev commands should be registered
DEV_GUILD=""

# Default level post titles
FIRST_LVL_POST_TITLE=""
SECOND_LVL_POST_TITLE=""
THIRD_LVL_POST_TITLE=""
FOURTH_LVL_POST_TITLE=""
FIFTH_LVL_POST_TITLE=""

# Ids of emoji which is used in service messages
# Preferably they should be created in the application itself on developer portal
# ID should look like this: <emoji_name:12313131313131313> or <a:emoji_name:12313131313131313>
PENDING_EMOJI=""
SUCCESS_EMOJI=""
FAILED_EMOJI=""
